
{% extends 'admin/dashbase.html' %}
{% load static %}
{% block content %}


<div class="container-fluid">

				<div class="row">
					<div class="col-md-12">

						<h2 class="page-title">Manage Supplier</h2>


<div class="panel panel-default">
							<div class="panel-heading">Supplier Info</div>
							<div class="panel-body">
															<table id="zctb" class="display table table-striped table-bordered table-hover" cellspacing="0" width="100%">
									<thead>
										<tr>
										<th>#</th>
											<th>Name</th>
											<th>Mobile</th>
											<th>Email</th>
											<th>Location</th>
											<th>License</th>
											<th>GST Number</th>
											<th>User Name</th>
											<th>Action</th>
										</tr>
									</thead>


									</thead>
									{% for x in data %}
									<tbody>

																			<tr>
											<td>{{x.id}}</td>
											<td>{{x.name}}</td>
											<td>{{x.mobile}}</td>
											<td>{{x.email}}</td>
											<td>{{x.location}}</td>
											<td>{{x.license}}</td>
											<td>{{x.GST_Number}}</td>
											<td>{{x.uname}}</td>
										<td><a href="/admin/conform/?id={{x.id}}" onclick="return confirm('Do you really want to Confirm this booking')"> Confirm</a> 


<!-- <a href="manage-bookings.php?eid=1" onclick="return confirm('Do you really want to Cancel this Booking')"> Cancel</a> -->
</td>


										</tr>


										</tbody>
										{% endfor %}
								</table>



							</div>
						</div>
					</div>
				</div>
			</div>







{% endblock %}