{% extends 'Supplier/loginbase.html' %}
{% load static %}
{% block content %}

	
	<div class="container-fluid">

				<div class="row">
					<div class="col-md-12">
						<div class="clearfix"> </div>

						<h2 class="page-title">Our Product</h2>
						<div class="search">
		    <form method="post" action="/supplier/search/" class="form-horizontal" enctype="multipart/form-data">
		    	{% csrf_token %}
		    	<input type="text" name="srch"  placeholder="search...">
				<button class="btn btn-primary" name="search" type="submit">search</button>
			</form>
		</div>

	</br></br>
<div class="panel panel-default">
							<div class="panel-heading">Product Details</div>
							<div class="panel-body">
															<table id="zctb" class="display table table-striped table-bordered table-hover" cellspacing="0" width="100%">
									<thead>
										<tr>
										<th>#</th>
											<th>Name</th>
											<th>Description</th>
											<th>Price</th>
											<th>Old_Price</th>
											<th>Quantity(Kg)</th>
											<th>Catogory</th>
											<th>Image</th>
											<th>edit</th>
										</tr>
									</thead>


									</thead>
									{% for x in data %}
									<tbody>

																			<tr>
											<td>{{x.id}}</td>
											<td>{{x.Name}}</td>
											<td>{{x.Description}}</td>
											<td>{{x.Price}}</td>
											<td>{{x.Old_Price}}</td>
											<td>{{x.Quantity}}</td>
											<td>{{x.Catogory}}</td>
											<td>{{x.Photo}}</td>
											<td> <a href="/supplier/edit/?pid={{x.id}}">edit</a></td>
											<!-- <td>{{x.uname}}</td> -->
										<!-- <td><a href="/admin/conform/?id={{x.id}}" onclick="return confirm('Do you really want to Confirm this booking')"> Confirm</a> 
 -->

<!-- <a href="manage-bookings.php?eid=1" onclick="return confirm('Do you really want to Cancel this Booking')"> Cancel</a> -->
</td>


										</tr>


										</tbody>
										{% endfor %}
								</table>



							</div>
						</div>
					</div>
				</div>
			</div>







{% endblock %}