
{% load static %}
<!DOCTYPE HTML>
<html>
<head>
<title>Gretong a Ecommerce Category Flat Bootstarp Responsive Website Template | Home :: w3layouts</title>
<link href="{% static "user_css/bootstrap.css" %}" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary JavaScript plugins) -->
<script type='text/javascript' src="{% static "user_js/jquery-1.11.1.min.js" %}"></script>
<!-- Custom Theme files -->
<link href="{% static "user_css/style.css" %}" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Gretong Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PlayfairDisplay:400,700,900' rel='stylesheet' type='text/css'>
<!-- start menu -->
<link href="{% static "user_css/megamenu.css" %}" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src={% static "user_js/megamenu.js" %}"></script>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
<script src={% static "user_js/menu_jquery.js" %}"></script>
<script src={% static "user_js/simpleCart.min.js" %}"> </script>
</head>
<body>
<!-- header_top -->
<div class="top_bg">
	<div class="container">
		<div class="header_top">
			<div class="top_right">
				<ul>
					<li><a href="#">help</a></li>|
					<li><a href="/admin/">Administrator Login</a></li>
					
				</ul>
			</div>
			<div class="top_left">
				<h2><span></span> Call us : 032 2352 782</h2>
			</div>
				<div class="clearfix"> </div>
		</div>
	</div>
</div><!-- header -->
<div class="header_bg">
<div class="container">
	<div class="header">
	<div class="head-t">
		<div class="logo">
			<h1 style="color: #3ed10e ">Cloud Farm</h1>
			<!-- <a href="index.html"><img src={% static "user_images/logo.png" %}" class="img-responsive" alt=""/> </a> -->
		</div>
		<!-- start header_right -->
		<div class="header_right" style="width:500px">
			<div class="rgt-bottom">
				
					<div class="reg">
						<div id="loginContainer"><a href="/user/logload/" ><span>LOGIN</span></a></div>
				</div>
				<div class="reg" style="margin-left:10px">
					<a href="/user/regload/">REGISTER</a> 
				</div>
			
			
			<div class="clearfix"> </div>
		</div>
		
		<div class="clearfix"> </div>
		</div>
		<div class="clearfix"> </div>
	</div>		<!-- start header menu -->
		<ul class="megamenu skyblue">
			<li class="active grid"><a class="color1" href="/user/">Home</a></li>
			<li class="grid"><a class="color2" href="#">Products</a>
				<div class="megapanel">
					<div class="row">
					
						<!-- <div class="col1">
							<div class="h_nav">
								<h4>company account</h4>
								<ul>
									<li><a href="companylogin.php">login</a></li>
									<li><a href="companyregistration.php">create an account</a></li>
								</ul>	
							</div>						
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>business account</h4>
								<ul>
									<li><a href="businesslogin.php">login</a></li>
									<li><a href="businessregistration.php">create an account</a></li>
								</ul>	
							</div>
						</div> -->
						<!-- <div class="col1">
							<div class="h_nav">
								<h4>Customer account</h4>
								<ul>
									<li><a href="customerlogin.php">login</a></li>
									<li><a href="customerregistration.php">create an account</a></li>
								</ul>	
							</div>
						</div>
					</div> -->
					
    				</div>
				</li>
				<li class="active grid"><a class="color1" href="View_products.php">About Us</a></li>
			<!-- <li><a class="color4" href="#">Contact Us</a> -->
				<!-- <div class="megapanel">
					<div class="row">
						<div class="col1">
							<div class="h_nav">
								<h4>Main Category</h4>
								<ul>
									<li><a href="view_retail_products.php">Retail Products</a></li>
									<li><a href="View_medical_products.php">Medical Products</a></li>
								</ul>	
							</div>							
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>Category</h4>
								
							</div>							
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>Company</h4>
								
							</div>												
						</div>
						
						
						
					</div>
					
    				</div> -->
				</li>				
				
				<!-- <li><a class="color5" href="#">Retail Products</a> -->
				<!-- <div class="megapanel">
					<div class="row">
						<div class="col1">
							<div class="h_nav">
								<h4>Main Category</h4>
								<ul>
									<li><a href="view_retail_products.php">Retail Products</a></li>
									<li><a href="View_medical_products.php">Medical Products</a></li>
								</ul>	
							</div>							
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>Category</h4>
								
							</div>							
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>Brand</h4>
								
							</div>												
						</div>
						
						
						
					</div>
					
    				</div> -->
				</li>				
			<li class="grid"><a class="color2" href="#">Contact</a>
								
			
				
				
		 </ul> 
	</div>
</div>
</div>


{% block content %}{% endblock %}




