

{% extends 'users/base.html' %}
{% load static %}
{% block content %}
<!-- content -->
<div class="container">
<div class="main">
	<!-- start registration -->
	<div class="registration">
		
	<div class="registration_left">
		<h2>Customer Login</h2>
		 <div class="registration_form">
		 <!-- Form -->
		 <form  method="POST"  id="registration_form" action="/user/logload/">
		 	{% csrf_token %}
<div><label>Username<input type="text" name="username" required></label></div>
<div ><label>Password:<input type="password" name="password" required></label></div>
<div ><label><input type="submit" value="Login" name="btn" id="register-submit"></label></div>
<div style="color: red">{{er_msg}}</div>
</form>

			
			<!-- /Form -->
			</div>
	</div>
	<div class="clearfix"></div>
	</div>
	<!-- end registration -->
</div>
</div>
<div class="foot-top" style="padding-top:200px">
	<div class="container">
		<div class="col-md-6 s-c">
			<li>
				<div class="fooll">
					<h5>follow us on</h5>
				</div>
			</li>
			<li>
				<div class="social-ic">
					<ul>
						<li><a href="#"><i class="facebok"> </i></a></li>
						<li><a href="#"><i class="twiter"> </i></a></li>
						<li><a href="#"><i class="goog"> </i></a></li>
						<li><a href="#"><i class="be"> </i></a></li>
						<li><a href="#"><i class="pp"> </i></a></li>
							<div class="clearfix"></div>	
					</ul>
				</div>
			</li>
				<div class="clearfix"> </div>
		</div>
		<div class="col-md-6 s-c">
			<div class="stay">
						<div class="stay-left">
							<form>
								<input type="text" placeholder="Enter your email to join our newsletter" required="">
							</form>
						</div>
						<div class="btn-1">
							<form>
								<input type="submit" value="join">
							</form>
						</div>
							<div class="clearfix"> </div>
			</div>
		</div>
			<div class="clearfix"> </div>
	</div>
</div>
<div class="footer">
	<div class="container">
	
	
		<div class="clearfix"> </div>
			<p>Copyrights ? 2015 Gretong. All rights reserved | Template by <a href="http://w3layouts.com/">W3layouts</a></p>
	</div>
</div>
{% endblock %}