{% extends 'users/loginbase.html' %}
{% load static %}
{% block content %}
	<div class="container">
<div class="women_main">
<!-- start sidebar -->
	<div class="col-md-2">
	 <!--  <div class="w_sidebar"> -->
	
		<!-- <section  class="sky-form" style="height:250px">
					<h4>Product Categories</h4>
						<div class="row1 scroll-pane">
							
							<div class="col col-4">
															<label class="checkbox"><input type="checkbox"  value="1" name="checkbox" class="category" onClick="getproducts(this,this.value)"><i></i>Fruit </label>
																<label class="checkbox"><input type="checkbox"  value="2" name="checkbox" class="category" onClick="getproducts(this,this.value)"><i></i>Grain</label>
																<label class="checkbox"><input type="checkbox"  value="3" name="checkbox" class="category" onClick="getproducts(this,this.value)"><i></i>Vegitables</label>
																
															</div> 
						</div>
		</section>
		 -->


		
		
		
	<!-- </div> -->
   </div>	<!-- start content -->
	<!-- <div class="col-md-9 w_content">
		<div class="grids_of_4" id="contents"> -->
		
		{% for x in data %}
		
		  <div class="grid1_of_4">
				<div class="content_box"><a href="/user/Ordered/?pid={{x.PID.id}}">
			   	   	 <img src="{{x.PID.Photo.url}}"  class="img-responsive" style="height:150px; width:200px" alt=""/>
			   	   	 
				   	  </a>
				    <h4><a href="/user/Ordered/?pid={{x.PID.id}}"> Quick View</a></h4>
				     <p>{{x.PID.Name}}</p>
					 <div class="grid_1 simpleCart_shelfItem">
				    
					 <div class="item_add"><span class="item_price"><h6>ONLY Rs.{{x.PID.Price}}</h6></span></div>
					<div class="item_add"><span class="item_price">Ordered</span></div>
					 </div>
			   	</div></br></br>
			</div>
		
			
		{% endfor %}
		

	<!-- </div>
		
		</div> -->
		
	</div>
	<div class="clearfix"></div>
	
	<!-- end content -->
</div>
</div>


{% endblock %}